<h1>Trabajos</h1>

<button class="btn btn-primary my-3" onclick="addWork()">Agregar Trabajo</button>

<table id="works" class="table table-striped" style="width:100%"></table>

<div id="workAddPartial"></div>

<div id="workDeletePartial"></div>

<script src="~/js/works/work.js"></script>