{
    "Logging": {
        "LogLevel": {
            "Default": "Information",
            "Microsoft.AspNetCore": "Warning"
        }
    },
    "ServiceUrl": {
        //rellenar
        "ApiUrl": ""
    },
    "AllowedHosts": "*"

}
